# Python bytecode
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.spec
*.egg-info/

# Virtual environments
.env
.venv
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS-specific files
.DS_Store
